.lab {
    background: yellow;
    display: inline-block;
    margin: 20px;
}
.es {
    background: grey;
    display: inline-block;
    margin: 20px;
}
.trns {
    background: yellow;
    display: inline-block;
    margin: 20px;
}